@import url("https://fonts.googleapis.com/css?family=Cabin");

body, html {
  /* font-family: "Cabin", sans-serif; */
  background-color: rgb(252, 245, 255);
  margin: 0;
}
body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
  background-color: rgba(200, 90, 255, 0.1);
}

section h1 {
  font-size: 10vw;
  margin: 1em auto;
  margin-bottom: 0.1rem;
  width: 70%;
  text-transform: uppercase;
  text-align: center;
  object-fit: cover;
}
section h1::before {
  content: "";
  border-top: 1.1vw solid black;
  display: block;
}
section h2 ,.project {
  font-size: 15vw;
  margin: 1em auto;
  margin-bottom: 2vw;
  margin-top: 0.1rem;
  width: 70%;
  text-transform: uppercase;
  text-align: center;
}
section h2::before {
  content: "";
  border-bottom: 1.1vw solid black;
  display: block;
}
section h3 {
  font-size: 4em;
  margin: 1em auto;
  margin-top: 0.1rem;
  width: 70%;
  text-transform: uppercase;
  text-align: center;
}
section h3::before {
  content: "";
  display: block;
}

.project {
  transition: background-color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

.project:hover {
  background-color: #a725d6;
  color: #ffffff;
}

/*
==========
video
==========
*/

.video {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openvideo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=============== 
img & word
===============
*/
.homeimg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.homeimg {
    object-fit: cover;
    transition: opacity 0.5s ease, border 0.5s ease;
    border: 5px solid transparent;
}


.img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  font-size: 5vw;
  background-color: rgba(0, 0, 0, 0.4);
  width: 95%;
  height: 95%;
  border: 0.5vw solid rgba(87, 3, 155, 0.8);
  text-transform: capitalize;
  font-family: "mrs-eaves", "Baskerville Old Face", Garamond, "Times New Roman", serif;
  transition: transform 0.2s , opacity 0.1s ;
}

.homeimg-container:hover .img-text {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  border: 0.8vw solid rgb(87, 3, 155);
  justify-content: center;
  align-items: center;
  position: absolute;
}


/*
==========
Tiles
==========
*/

.tiles-center {
  object-fit: cover; 
  display: grid;
  margin: 0 auto;
  grid-template-areas: 
  "a b c" 
  "d i e"
  "f g h";
}

.tiles-center img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-1 {
  grid-area: a;
}

.tile-2 {
  grid-area: b;
}

.tile-3 {
  grid-area: c;
}

.tile-4 {
  grid-area: d;
}

.tile-5 {
  grid-area: e;
}

.tile-6 {
  grid-area: f;
}

.tile-7 {
  grid-area: g;
}

.tile-8 {
  grid-area: h;
}

.tile-9 {
  grid-area: i;
}


/*
=============== 
Button
===============
*/

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filter-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin: 4vw;
  
}

.btn {
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
  border-radius: 1.5vw;
  padding: 1.5vw 4vw;
  font-size: 2.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0vw 1vw 2vw rgba(0, 0, 0, 0.1);
  font-family: "mrs-eaves", "Baskerville Old Face", Garamond, "Times New Roman", serif;
}

.btn:hover {
  background-color: #ff9933; 
  transform: translateY(-2px);
}